body {
    background-color: #222222;
}

h1 {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
}

nav {
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

table {
margin-left: auto;
margin-right: auto;
}

.nav-logo-td {
    padding-right: 50rem;
}

.nav-td {
    padding-left: 1rem;
    padding-right: 1rem;
}

#nav-logo {
    padding-top: 5px;
    height: 45px;
}

.btn:hover {
    color: #222222;
    background-color:#FFA800;
    border-color: #FFA800;
}

.navbar {
    background-color: #222222!important;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: #FFA800;
}

.landlord-sign {
    color: #FFA800;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #FFA800;
    border-radius: 10px;
}

.landlord-sign:hover {
    background-color: #FFA800;
    color: #222222;
    border-color: #222222;
}

.right-line {
    border-right: 1px solid white;
}

.about-page {
    height: 700px;
}

.about-page > p {
    color: #ffffff;
    text-align: justify;
    margin-top: 2rem;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 3rem;
}

.sean-image > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 4rem;
    margin-left: 20px;
    margin-right: 20px;
}

.sean-span {
    text-align: center;
    font-weight: bold;
    color: #FFA800;
}

.sean-image > p {
    text-align: center;
    font-weight: lighter;
    color: #ffffff;
}

.steven-image > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 4rem;
    margin-left: 20px;
    margin-right: 20px;
}

.steven-span {
    text-align: center;
    font-weight: bold;
    color: #FFA800;
}

.steven-image > p {
    text-align: center;
    font-weight: lighter;
    color: #ffffff;
}

.gabriel-image > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 4rem;
    margin-left: 20px;
    margin-right: 20px;
}

.gabriel-span {
    text-align: center;
    font-weight: bold;
    color: #FFA800;
}

.gabriel-image > p {
    text-align: center;
    font-weight: lighter;
    color: #ffffff;
}

.joshua-image > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 4rem;
    margin-left: 20px;
    margin-right: 20px;
}

.joshua-span {
    text-align: center;
    font-weight: bold;
    color: #FFA800;
}

.joshua-image > p {
    text-align: center;
    font-weight: lighter;
    color: #ffffff;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    height: 350px;
}

.footer > p {
    color: #222222;
    padding-top: 4rem;
    font-size: 24px;
}

#footer-brand > img {
    height: 50px;
    padding-top: 10px;
}

#credits {
    font-size: 12px;
    text-align: center;
    color: #222222;
}

.socials {
    padding: 1rem;
}

.socials > a {
    color: #222222;
}

.socials > a:hover {
    color: #FFA800;
}